.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 80vw;
  margin: 2em;
  border-radius: 1em;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  justify-content: center;
  border-radius: 1em;
  padding: 2em;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: #00887d;
}

.labelObligatory {
  font-size: 1rem;
  font-weight: bold;
  color: #d42610;
  margin-left: 0.5em;
}

.imageSize {
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  border-radius: 1em;
}