.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 90vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
  width: 100%;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.sectionHeader {
  font-size: 1.5rem;
  font-weight: bold;
  /* Align the content to the left */
  text-align: left;

  /* Add some margin to the bottom */
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .bottomContainer {
    flex-direction: column;
  }

  .leftContainer {
    width: 100%;
    height: 100%;
  }

  .rightContainer {
    display: none;
  }
}

.addButton {
  position: absolute;
  top: -10px; /* Adjust the top position as needed */
  right: 2em; /* Adjust the right position as needed */
  background-color: #292d32; /* Example background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 50%;
  padding: 0.5em;
  width: 1.5em;
  height: 1.5em;
  font-size: 2.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.addButton:hover {
  scale: 1.1;
  background-color: #93a84b;
  box-shadow: 0 0 10px #93a84b;
}

@media (max-width: 767px) {
  .addButton {
    display: none;
  }

  .outerContainer {
    height: 100%;
    width: 100%;
  }

  .sectionHeader {
    display: none;
  }

  .topContainer {
    height: 10%;
    width: 100%;
  }

  .bottomContainer {
    height: 90%;
    width: 100%;
  }

  .leftContainer {
    height: 90%;
    width: 100%;
  }

  .rightContainer {
    display: none;
  }

  .titleContainer {
    height: 100%;
    width: 100%;
  }
}
